body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.col-md-6 {
    border: 5px solid black;  
    padding: 22px;
    margin-top: 200px !important;  
}

button {
    margin: 4px !important;   
    padding: 6px !important;  
    border: 2px solid black !important;  
}

h1 {
    font-weight: bolder !important;  
    margin: 10px !important;         
}